* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #3b3b3b;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.card {
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #6dd5ed, #6172b1);
    padding: 25px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.search input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search button {
    width: 50px;
    border-radius: 12px;
    border: none;
    background: white;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon img {
    width: 160px;
    margin-top: 20px;
}

.temp {
    font-size: 60px;
    font-weight: 600;
    margin-top: 10px;
}

.city {
    font-size: 35px;
    margin-top: -10px;
}

.details {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.col img {
    width: 35px;
}

.label {
    font-size: 14px;
    color: #f0f0f0;
}
